<div *ngIf="questions.length > 0 && currentQuestion">
  <h2>Question {{ currentQuestionIndex }} of {{ questions.length }}:</h2>
  <h3>Score: {{ userScore }}</h3> <!-- Score Tracker -->
  <p>{{ currentQuestion?.question }}</p>

  <h3>Options:</h3>
  <ul>
    <li *ngFor="let option of currentQuestion?.options; let i = index">
      <label>
        <input type="radio" name="options" [value]="i" (change)="selectAnswer(i)">
        {{ option }}
      </label>
    </li>
  </ul>

  <button (click)="getNextQuestion()">Next Question</button>
</div>

<div *ngIf="!currentQuestion">
  <p>No more questions!</p>
</div>
