<div class="quiz-container" *ngIf="questions.length > 0 && currentQuestion">
  <h2>Question {{ currentQuestionIndex }} of {{ questions.length }}:</h2>
  <h3>Score: {{ userScore }}</h3> 
  <p>{{ currentQuestion?.question }}</p>

  <h3>Options:</h3>
  <ul>
    <li *ngFor="let option of currentQuestion?.options; let i = index">
      <label>
        <input type="radio" name="options" [value]="i" (change)="selectAnswer(i)">
        {{ option }}
      </label>
    </li>
  </ul>

</div>

<div *ngIf="!currentQuestion" class="result-container">
  <div class="result-content">
    <div *ngIf="userScore !== questions.length">
      <p>Congratulations, you finished! You got {{userScore}} correct answers out of {{questions.length}}.</p>
    </div>
    <div *ngIf="userScore !== null">
      <p>The percentage of correct answers is {{ (userScore / questions.length) * 100 }}%.</p>
      <p>Thank you for participating in the quiz!</p>
    </div>
  </div>
</div>